In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
test = pd.read_csv('../data/test.csv')

In [3]:
test.columns = test.columns.str.lower().str.replace(' ','_')

In [4]:
naive_test=pd.DataFrame(test,columns=['id','lot_area',
                                     'overall_qual','totrms_abvgrd'])

### EDA

In [5]:
naive_test.head()

     id  lot_area  overall_qual  totrms_abvgrd
0  2658      9142             6              9
1  2718      9662             5             10
2  2414     17104             7              7
3  1989      8520             5              5
4   625      9500             6              6

In [6]:
naive_test.isnull().sum()

id               0
lot_area         0
overall_qual     0
totrms_abvgrd    0
dtype: int64

In [7]:
naive_test.describe()

                id       lot_area  overall_qual  totrms_abvgrd
count   878.000000     878.000000    878.000000     878.000000
mean   1444.749431   10307.033030      6.050114       6.454442
std     850.838263   10002.674602      1.369065       1.596632
min       2.000000    1477.000000      2.000000       3.000000
25%     692.250000    7297.250000      5.000000       5.000000
50%    1433.000000    9446.000000      6.000000       6.000000
75%    2197.500000   11589.000000      7.000000       7.000000
max    2928.000000  215245.000000     10.000000      12.000000

In [8]:
naive_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             878 non-null    int64
 1   lot_area       878 non-null    int64
 2   overall_qual   878 non-null    int64
 3   totrms_abvgrd  878 non-null    int64
dtypes: int64(4)
memory usage: 27.6 KB

In [9]:
naive_test.to_csv('../data/naive_test_data.csv',index=False)